.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
}

@media (min-width: 320px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 545px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 2000px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
